{% extends 'tradespace/main.html' %}
{% load static %}
{% block content %}
<h1>Compare Products</h1>

<form method="GET">
    <label for="q1">Product 1:</label>
    <input type="text" name="q1" placeholder="Search product 1...">
    <label for="q2">Product 2:</label>
    <input type="text" name="q2" placeholder="Search product 2...">
    <button type="submit">Search</button>
</form>

{% if product1 or product2 %}
    <h2>Comparison</h2>
    <div>
        {% if product1 %}
        <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{product1.imageURL}}"></div>
            <div style="flex:2"><p>{{product1.name}}</p></div>
            <div style="flex:1"><p>${{product1.price|floatformat:2}}</p></div>
        </div>
        {% else %}
            <p>No product found for search 1.</p>
        {% endif %}

        {% if product2 %}
        <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{product2.imageURL}}"></div>
            <div style="flex:2"><p>{{product2.name}}</p></div>
            <div style="flex:1"><p>${{product2.price|floatformat:2}}</p></div>
        </div>
        {% else %}
            <p>No product found for search 2.</p>
        {% endif %}
    </div>

{% endif %}
{% endblock content %}