{% extends 'tradespace/main.html' %}
{% load static %}
{% block content %}




<h1>Your Order History</h1>

{% if orders %}
    <ul>
        {% for order in orders %}
            <li>
                Order ID: {{ order.id }}, Total: ${{ order.get_cart_total }}0
                <form method="POST" action="{% url 'remove_order' order.id %}">
                    {% csrf_token %}
                    <button type="submit">Return</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You don't have any orders yet.</p>
{% endif %}

{% endblock content %}