{% extends 'tradespace/main.html' %}
{% load static %}
{% block content %}



<h1>Search Product List</h1>

<form method="GET">
    <input type="text" name="q" placeholder="Search products...">
    <button type="submit">Search</button>
</form>
<hr>
{% if products %}
    <ul>
        {% for product in products %}
        <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{product.imageURL}}"></div>
            <div style="flex:2"><p>{{product.name}}</p></div>
            <div style="flex:1"><p>${{product.price|floatformat:2}}</p></div>
        </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No products found.</p>
{% endif %}


{% endblock content %}