{% extends 'tradespace/main.html' %}
{% load static %}
{% block content %}



<h1>Add or Remove Products</h1>
<a href="{% url 'add_product_page' %}">
    <button>Add Product</button>
</a>
<form method="GET">
    <input type="text" name="q" placeholder="Search products...">
    <button type="submit">Search</button>
</form>
<hr>
{% if products %}
    <ul>
        {% for product in products %}
        <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{product.imageURL}}"></div>
            <div style="flex:2"><p>{{product.name}}</p></div>
            <div style="flex:1"><p>${{product.price|floatformat:2}}</p></div>
            <form method="POST" action="{% url 'remove_product' product.name %}">
                {% csrf_token %}
                <button type="submit">Refund</button>
            </form>
        </div>
        
        {% endfor %}
    </ul>
{% else %}
    <p>You don't have any products yet.</p>
{% endif %}




{% endblock content %}